In [20]:
"""1.	Write a Python program that iterates the integers from 1 to 50. For multiples of three print 
"Three" instead of the number and for multiples of five print "Five". For numbers 
that are multiples of three and five, print "ThreeFive".
"""


n=50
for i in range(1,n+1):
    if i%3==0:
        print(i,"three")
        if i%5==0:
            print(i,"five")
            if i%3==0 and i%5==0:
                print(i,"threefive")

3 three
6 three
9 three
12 three
15 three
15 five
15 threefive
18 three
21 three
24 three
27 three
30 three
30 five
30 threefive
33 three
36 three
39 three
42 three
45 three
45 five
45 threefive
48 three

In [23]:
"2.	Write a Python program that accepts a string and calculates the number of digits and letters"


alpha=0
string="Geeks1234"
for i in string:
    if (i.isalpha()):
        alpha+=1
        d=len(string)-alpha
print("Number of Digit is", d)
print("Number of Alphabets is", alpha)

Number of Digit is 4
Number of Alphabets is 5

In [2]:
l1=[76, 23, 45, 12, 54, 9] 
print("Original List:", l1)
 
# sorting list using nested loops
for i in range(0, len(l1)):
    for j in range(i+1, len(l1)):
        if l1[i] >= l1[j]:
            l1[i], l1[j] = l1[j],l1[i]
 
# sorted list
print("Sorted List", l1)

Original List: [76, 23, 45, 12, 54, 9]
Sorted List [9, 12, 23, 45, 54, 76]

In [24]:
"4.	Write a program to find a factorial of a number accepted from the user."


n=int(input("enter your number: "))
s=1
for i in range(1,n+1):
     s=s*i
print(s)

enter your number: 5
120

In [1]:
num = int(input("Enter a number: "))
product = 1
for digit in str(num):
    product *= int(digit)
print("The product of the digits of", num, "is", product)

Enter a number: 123
The product of the digits of 123 is 6

In [25]:
"6.	Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 to 500"



n=100
for i in range(1,n+1):
    if i%2!=0:
        if i%11==0:
            print(i,"divisible by 11")
        else:
            print(i)

1
3
5
7
9
11 divisible by 11
13
15
17
19
21
23
25
27
29
31
33 divisible by 11
35
37
39
41
43
45
47
49
51
53
55 divisible by 11
57
59
61
63
65
67
69
71
73
75
77 divisible by 11
79
81
83
85
87
89
91
93
95
97
99 divisible by 11

In [2]:
"1.	Given a list of numbers, remove all odd numbers from the list numbers = [3,5,45,97,32,22,10,19,39,43]"


listnumbers = [3,5,45,97,32,22,10,19,39,43]
newlist=[i for i in listnumbers if i%2==0]
newlist

[32, 22, 10]

In [7]:
"2.	Find all of the numbers from 1-1000 that are divisible by 7"


newlist=[i for i in range(1,1000) if i%7==0]
print(newlist)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [8]:
"3.	Count the number of spaces in a string"

string = "Welcome to geeksforgeeks"
newlist=[i for i in string if i==" "]
print(len(newlist))

2

In [28]:
#4.	Get the index and the value as a tuple for items in the list “hi”, 4, 8.99,‘apple’,(‘t,b’,’n’). \

#Result would look like (index, value),(index, value)



string = " hai all Welcome to geeksforgeeks"
newlist=[i for i in string.split(' ') if len(i)<4]
print(newlist)

SyntaxError: unterminated string literal (detected at line 2) (732532262.py, line 2)

In [16]:
"5.	Find all of the words in a string that are less than 4 letters [Hint: Use split() to get the words from string]"



list=["hi", 4, 8.99, "apple", ('t,b','n')]
newlist=[(i,list) for i ,list in enumerate(list)]
print(newlist)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]