In [3]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [4]:
#Read the data in pandas
inp0= pd.read_csv(r"C:\Users\sairam\Desktop\New folder\Data_Analysis_Project\Data_Analysis_Project\Attribute DataSet.csv")
inp1= pd.read_csv(r"C:\Users\sairam\Desktop\New folder\Data_Analysis_Project\Data_Analysis_Project\Dress Sales.csv")
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0

In [3]:
inp1.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.


ANS: Object type and categorical nominal variable

reason:

        nominal variable is a variable which are unordered categories which are used to classify data without any implied order.here, in "price" column we can see that the data is classified to types like average,high,low ..... but those are not following any specific order. so they are "object type and nominal variables.

In [ ]:
inp0.dtypes

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

ANS: Integer type and continuos numericals
reason:

       As we see,that the values in the "recommendation" column are of of datatype "Integer" and it is a continuos variabel which mean-A continuous variable is a type of quantitative variable that can take on any value within a certain range or interval. It is a variable that can be measured on a continuous scale, meaning that there are an infinite number of possible values between any two points.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

ANS: None of the above

reason:
     everything mentioned in the above options are to be needed in the attribute dataset. because, dress_id is needed to know the exact dress(for ex:every dress has an unique dress_id),

In [ ]:
# Print the information about the attributes of inp0 and inp1.
inp0.info()

In [ ]:
inp1.info()

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [4]:
import pandas as pd
# Creating a sample DataFrame for demonstration
data = {'Size': ['M', 'L', 'XL', 'free', 'S', 's', 'small', 'M', 'L', 'S', 'XL', 'free']}
inp0 = pd.DataFrame(data)

# Mapping abbreviations to full names
size_mapping = {'M': 'Medium', 'L': 'Large', 'XL': 'Extra large', 'free': 'Free', 'S': 'Small', 's': 'Small', 'small': 'Small'}

# Applying the mapping to the 'Size' column
inp0['Size'] = inp0['Size'].map(size_mapping)

# Calculating percentages
total_rows = len(inp0)
small_size_percentage = (inp0['Size'].value_counts(normalize=True).get('Small', 0)) * 100
lowest_percentage = inp0['Size'].value_counts(normalize=True).min() * 100
highest_percentage = inp0['Size'].value_counts(normalize=True).max() * 100

# Displaying the results
print("Lowest Percentage:", lowest_percentage)
print("Highest Percentage:", highest_percentage)
print("Percentage of Small size categories:", small_size_percentage)

Lowest Percentage: 16.666666666666664
Highest Percentage: 33.33333333333333
Percentage of Small size categories: 33.33333333333333

In [5]:
#question: Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.

# Creating a sample DataFrame for demonstration
data = {'Size': ['M', 'L', 'XL', 'free', 'S', 's', 'small', 'M', 'L', 'S', 'XL', 'free']}
inp0 = pd.DataFrame(data)

# Mapping abbreviations to full names
size_mapping = {'M': 'Medium', 'L': 'Large', 'XL': 'Extra large', 'free': 'Free', 'S': 'Small', 's': 'Small', 'small': 'Small'}

# Fixing the 'Size' column
inp0['Size'] = inp0['Size'].map(size_mapping)

# Counting the percentage of each size category
size_percentage = inp0['Size'].value_counts(normalize=True) * 100

# Displaying the results
print("Percentage of each size category:")
print(size_percentage)

Percentage of each size category:
Size
Small          33.333333
Medium         16.666667
Large          16.666667
Extra large    16.666667
Free           16.666667
Name: proportion, dtype: float64

In [6]:
#question: Print the value counts of each category in "Size" column.


inp0= pd.read_csv(r"C:\Users\sairam\Desktop\New folder\Data_Analysis_Project\Data_Analysis_Project\Attribute DataSet.csv")
inp0.Size.value_counts()

Size
M        171
free     165
L         93
S         34
XL        14
small      1
s          1
Name: count, dtype: int64

### Impute/Remove Missing values

In [7]:
# Print the null count of each variables of inp0 and inp1.
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

In [8]:
inp1.isnull().sum()

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      0
14-09-2013      0
16-09-2013      0
18-09-2013      0
20-09-2013      0
22-09-2013      0
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [9]:
#question: Print the data types information of inp1 i.e. "Dress Sales" data.

inp1.dtypes

Dress_ID        int64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013     object
14-09-2013     object
16-09-2013     object
18-09-2013     object
20-09-2013     object
22-09-2013     object
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [10]:
#question: Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.

# Assuming inp1 is my DataFrame
columns_to_convert = ['09-12-2013', '14-09-2013', '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013']

# Convert each specified column to float, handling errors with 'coerce'
for column in columns_to_convert:
    try:
        inp1[column] = pd.to_numeric(inp1[column], errors='coerce', downcast='float')
    except ValueError as e:
        print(f"Error converting column {column}: {e}")

# Displaying the DataFrame
print(inp1)

       Dress_ID  29-08-2013  31-08-2013  09-02-2013  09-04-2013  09-06-2013  \
0    1006032852        2114        2274        2491        2660        2727
1    1212192089         151         275         570         750         813
2    1190380701           6           7           7           7           8
3     966005983        1005        1128        1326        1455        1507
4     876339541         996        1175        1304        1396        1432
..          ...         ...         ...         ...         ...         ...
474   990559192           0           0           0          60          62
475   713391965           0           0           0         560         554
476   532874347           0           0           0         734         728
477   655464934           0           0           0         254         259
478   919930954           0           0           0         538         545

     09-08-2013  09-10-2013  09-12-2013  14-09-2013  ...  24-09-2013  \
0          2887        2930      3119.0      3204.0  ...        3554
1          1066        1164      1558.0      1756.0  ...        2710
2             8           9        10.0        10.0  ...          11
3          1621        1637      1723.0      1746.0  ...        1878
4          1559        1570      1638.0      1655.0  ...        2032
..          ...         ...         ...         ...  ...         ...
474          64          65        67.0        68.0  ...          73
475         544         537       525.0       519.0  ...         400
476         726         715       694.0       690.0  ...         616
477         261         263       268.0       270.0  ...         257
478         558         563       578.0       585.0  ...         628

     26-09-2013  28-09-2013  30-09-2013  10-02-2013  10-04-2013  10-06-2013  \
0        3624.0        3706      3746.0      3795.0      3832.0        3897
1        2942.0        3258      3354.0      3475.0      3654.0        3911
2          11.0          11        11.0        11.0        11.0          11
3        1892.0        1914      1924.0      1929.0      1941.0        1952
4        2156.0        2252      2312.0      2387.0      2459.0        2544
..          ...         ...         ...         ...         ...         ...
474        74.0          75        75.0        76.0        76.0          77
475       388.0         360       364.0       372.0       377.0         380
476       597.0         586       569.0       561.0       555.0         551
477       256.0         255       254.0       253.0       250.0         249
478       632.0         639       645.0       651.0       655.0         660

     10-08-2013  10-10-2013  10-12-2013
0        3923.0      3985.0        4048
1        4024.0      4125.0        4277
2          11.0        11.0          11
3        1955.0      1959.0        1963
4        2614.0      2693.0        2736
..          ...         ...         ...
474        77.0        77.0          77
475       382.0       384.0         285
476       546.0       535.0         520
477       249.0       249.0         248
478       668.0       674.0         680

[479 rows x 24 columns]

In [5]:
#Question: Do the required changes in the "Dress Sales" data set to get null values on string values.

inp1.isnull().sum()

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      0
14-09-2013      0
16-09-2013      0
18-09-2013      0
20-09-2013      0
22-09-2013      0
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

In [12]:
# Convert the object type columns in "Dress Sales" into float type of data type.

inp1.dtypes

Dress_ID        int64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013    float32
14-09-2013    float32
16-09-2013    float32
18-09-2013    float32
20-09-2013    float32
22-09-2013    float32
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [13]:
# Print the null percetange of each column of inp1.
null_percentage = inp1.isnull().mean() * 100

# Display the null percentage for each column
print("Null Percentage for each column:")
print(null_percentage)

Null Percentage for each column:
Dress_ID       0.000000
29-08-2013     0.000000
31-08-2013     0.000000
09-02-2013     0.000000
09-04-2013     0.000000
09-06-2013     0.000000
09-08-2013     0.000000
09-10-2013     0.000000
09-12-2013     0.208768
14-09-2013     0.208768
16-09-2013     0.208768
18-09-2013     0.208768
20-09-2013     0.208768
22-09-2013     0.208768
24-09-2013     0.000000
26-09-2013    46.346555
28-09-2013     0.000000
30-09-2013    53.653445
10-02-2013    54.070981
10-04-2013    53.862213
10-06-2013     0.000000
10-08-2013    53.235908
10-10-2013    53.235908
10-12-2013     0.000000
dtype: float64

In [14]:
#question: Drop the columns in "Dress Sales" which have more than 40% of missing values.

threshold = 40  # Set the threshold for missing values

# Calculate the null percentage for each column
null_percentage = inp1.isnull().mean() * 100

# Identify columns with more than 40% missing values
columns_to_drop = null_percentage[null_percentage > threshold].index

# Drop columns with more than 40% missing values
inp1 = inp1.drop(columns=columns_to_drop)

# Display the resulting DataFrame
print("DataFrame after dropping columns with more than 40% missing values:")
print(inp1.head())

DataFrame after dropping columns with more than 40% missing values:
     Dress_ID  29-08-2013  31-08-2013  09-02-2013  09-04-2013  09-06-2013  \
0  1006032852        2114        2274        2491        2660        2727
1  1212192089         151         275         570         750         813
2  1190380701           6           7           7           7           8
3   966005983        1005        1128        1326        1455        1507
4   876339541         996        1175        1304        1396        1432

   09-08-2013  09-10-2013  09-12-2013  14-09-2013  16-09-2013  18-09-2013  \
0        2887        2930      3119.0      3204.0      3277.0      3321.0
1        1066        1164      1558.0      1756.0      1878.0      1985.0
2           8           9        10.0        10.0        10.0        10.0
3        1621        1637      1723.0      1746.0      1783.0      1796.0
4        1559        1570      1638.0      1655.0      1681.0      1743.0

   20-09-2013  22-09-2013  24-09-2013  28-09-2013  10-06-2013  10-12-2013
0      3386.0      3479.0        3554        3706        3897        4048
1      2106.0      2454.0        2710        3258        3911        4277
2        10.0        11.0          11          11          11          11
3      1812.0      1845.0        1878        1914        1952        1963
4      1824.0      1919.0        2032        2252        2544        2736

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [15]:
#question: Create the four seasons columns in inp1, according to the above criteria.


from datetime import datetime
inp1= pd.read_csv(r"C:\Users\sairam\Desktop\New folder\Data_Analysis_Project\Data_Analysis_Project\Dress Sales.csv")

# Function to categorize seasons
def categorize_season(date_str):
    date_format = "%d-%m-%Y"  # Corrected the date format
    date = datetime.strptime(date_str, date_format)

    if (date.month >= 6 and date.month <= 8):  # Summer
        return "Summer"
    elif (date.month >= 9 and date.month <= 11):  # Autumn
        return "Autumn"
    elif (date.month == 12 or (date.month >= 1 and date.month <= 2)):  # Winter
        return "Winter"
    else:  # Spring
        return "Spring"

# Apply the function to create new columns for each season
for col in inp1.columns[1:]:  # Skip the first column 'Dress_ID'
    inp1[f'{col}_Season'] = inp1[col].apply(lambda x: categorize_season(col))

# Display the updated DataFrame
#print(inp1)
inp1.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013_Season,26-09-2013_Season,28-09-2013_Season,30-09-2013_Season,10-02-2013_Season,10-04-2013_Season,10-06-2013_Season,10-08-2013_Season,10-10-2013_Season,10-12-2013_Season
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,Autumn,Autumn,Autumn,Autumn,Winter,Spring,Summer,Summer,Autumn,Winter
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,Autumn,Autumn,Autumn,Autumn,Winter,Spring,Summer,Summer,Autumn,Winter
2,1190380701,6,7,7,7,8,8,9,10,10,...,Autumn,Autumn,Autumn,Autumn,Winter,Spring,Summer,Summer,Autumn,Winter
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,Autumn,Autumn,Autumn,Autumn,Winter,Spring,Summer,Summer,Autumn,Winter
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,Autumn,Autumn,Autumn,Autumn,Winter,Spring,Summer,Summer,Autumn,Winter

In [16]:
#question: calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".

# Calculate the sum of sales for each season
inp1_sum_seasons = inp1.groupby(['29-08-2013_Season', '31-08-2013_Season', '09-02-2013_Season',
                                 '09-04-2013_Season', '09-06-2013_Season', '09-08-2013_Season',
                                 '09-10-2013_Season', '09-12-2013_Season', '14-09-2013_Season',
                                 '16-09-2013_Season', '18-09-2013_Season', '20-09-2013_Season',
                                 '22-09-2013_Season', '24-09-2013_Season', '26-09-2013_Season',
                                 '28-09-2013_Season', '30-09-2013_Season', '10-02-2013_Season',
                                 '10-04-2013_Season', '10-06-2013_Season', '10-08-2013_Season',
                                 '10-10-2013_Season', '10-12-2013_Season']).sum()

# Display the sum of sales for each season
print(inp1_sum_seasons)

                                                                                                                                                                                                                                                                                                                                                                                                                                   Dress_ID  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter             432173899433

                                                                                                                                                                                                                                                                                                                                                                                                                               29-08-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                  94883

                                                                                                                                                                                                                                                                                                                                                                                                                               31-08-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                 100483

                                                                                                                                                                                                                                                                                                                                                                                                                               09-02-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                 107081

                                                                                                                                                                                                                                                                                                                                                                                                                               09-04-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                 143600

                                                                                                                                                                                                                                                                                                                                                                                                                               09-06-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                 145973

                                                                                                                                                                                                                                                                                                                                                                                                                               09-08-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                 151620

                                                                                                                                                                                                                                                                                                                                                                                                                               09-10-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                 153328

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      09-12-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter             3119155810172316381825111717136590190629344945...

                                                                                                                                                                                                                                                                                                                                                                                                                                                                      14-09-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter             3204175610174616551926212117136610219943001504...

                                                                                                                                                                                                                                                                                                                                                                                                                               ...  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season  ...
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter             ...

                                                                                                                                                                                                                                                                                                                                                                                                                              24-09-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                178638

                                                                                                                                                                                                                                                                                                                                                                                                                              26-09-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter               75944.0

                                                                                                                                                                                                                                                                                                                                                                                                                              28-09-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter                186614

                                                                                                                                                                                                                                                                                                                                                                                                                              30-09-2013  \
29-08-2013_Season 31-08-2013_Season 09-02-2013_Season 09-04-2013_Season 09-06-2013_Season 09-08-2013_Season 09-10-2013_Season 09-12-2013_Season 14-09-2013_Season 16-09-2013_Season 18-09-2013_Season 20-09-2013_Season 22-09-2013_Season 24-09-2013_Season 26-09-2013_Season 28-09-2013_Season 30-09-2013_Season 10-02-2013_Season 10-04-2013_Season 10-06-2013_Season 10-08-2013_Season 10-10-2013_Season 10-12-2013_Season
Summer            Summer            Winter            Spring            Summer            Summer            Autumn            Winter            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Autumn            Winter            Spring            Summer            Summer            Autumn            Winter               53483.0

                                                                                                                                                                                                                                                                                                                                                                                                                               10-02-2013  \

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [17]:
#question: Merge inp0 with inp1 into inp0. this is also called left merge.

inp0= pd.read_csv(r"C:\Users\sairam\Desktop\New folder\Data_Analysis_Project\Data_Analysis_Project\Attribute DataSet.csv")
inp1= pd.read_csv(r"C:\Users\sairam\Desktop\New folder\Data_Analysis_Project\Data_Analysis_Project\Dress Sales.csv")
merged_inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
print(merged_inp0)

       Dress_ID    Style    Price  Rating  Size  Season   NeckLine  \
0    1006032852     Sexy      Low     4.6     M  Summer     o-neck
1    1212192089   Casual      Low     0.0     L  Summer     o-neck
2    1190380701  vintage     High     0.0     L  Automn     o-neck
3     966005983    Brief  Average     4.6     L  Spring     o-neck
4     876339541     cute      Low     4.5     M  Summer     o-neck
..          ...      ...      ...     ...   ...     ...        ...
474   990559192    Brief  Average     4.7     M  winter     o-neck
475   713391965   Casual      Low     4.7     M  Spring     o-neck
476   532874347   Casual  Average     4.7     M  Summer     v-neck
477   655464934   Casual  Average     4.6     L  winter  boat-neck
478   919930954   Casual      Low     4.4  free  Summer     v-neck

    SleeveLength       Material  FabricType  ... 24-09-2013 26-09-2013  \
0      sleevless            NaN     chiffon  ...       3554     3624.0
1          Petal     microfiber         NaN  ...       2710     2942.0
2           full       polyster         NaN  ...         11       11.0
3           full           silk     chiffon  ...       1878     1892.0
4      butterfly  chiffonfabric     chiffon  ...       2032     2156.0
..           ...            ...         ...  ...        ...        ...
474   halfsleeve        acrylic     chiffon  ...         73       74.0
475         full       polyster         NaN  ...        400      388.0
476         full         cotton         NaN  ...        616      597.0
477    sleevless           silk  broadcloth  ...        257      256.0
478        short         cotton    Corduroy  ...        628      632.0

     28-09-2013  30-09-2013  10-02-2013  10-04-2013  10-06-2013  10-08-2013  \
0          3706      3746.0      3795.0      3832.0        3897      3923.0
1          3258      3354.0      3475.0      3654.0        3911      4024.0
2            11        11.0        11.0        11.0          11        11.0
3          1914      1924.0      1929.0      1941.0        1952      1955.0
4          2252      2312.0      2387.0      2459.0        2544      2614.0
..          ...         ...         ...         ...         ...         ...
474          75        75.0        76.0        76.0          77        77.0
475         360       364.0       372.0       377.0         380       382.0
476         586       569.0       561.0       555.0         551       546.0
477         255       254.0       253.0       250.0         249       249.0
478         639       645.0       651.0       655.0         660       668.0

     10-10-2013  10-12-2013
0        3985.0        4048
1        4125.0        4277
2          11.0          11
3        1959.0        1963
4        2693.0        2736
..          ...         ...
474        77.0          77
475       384.0         285
476       535.0         520
477       249.0         248
478       674.0         680

[479 rows x 36 columns]

In [18]:
print(merged_inp0.columns)

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation', '29-08-2013', '31-08-2013', '09-02-2013',
       '09-04-2013', '09-06-2013', '09-08-2013', '09-10-2013', '09-12-2013',
       '14-09-2013', '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013',
       '24-09-2013', '26-09-2013', '28-09-2013', '30-09-2013', '10-02-2013',
       '10-04-2013', '10-06-2013', '10-08-2013', '10-10-2013', '10-12-2013'],
      dtype='object')

In [19]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
# Drop the Date columns from inp0
date_columns = ['29-08-2013', '31-08-2013', '09-02-2013', '09-04-2013', '09-06-2013', '09-08-2013',
                '09-10-2013', '09-12-2013', '14-09-2013', '16-09-2013', '18-09-2013', '20-09-2013',
                '22-09-2013', '24-09-2013', '26-09-2013', '28-09-2013', '30-09-2013', '10-02-2013',
                '10-04-2013', '10-06-2013', '10-08-2013', '10-10-2013', '10-12-2013']

merged_inp0.drop(columns=date_columns, inplace=True)

# Display the updated DataFrame
print(merged_inp0)

       Dress_ID    Style    Price  Rating  Size  Season   NeckLine  \
0    1006032852     Sexy      Low     4.6     M  Summer     o-neck
1    1212192089   Casual      Low     0.0     L  Summer     o-neck
2    1190380701  vintage     High     0.0     L  Automn     o-neck
3     966005983    Brief  Average     4.6     L  Spring     o-neck
4     876339541     cute      Low     4.5     M  Summer     o-neck
..          ...      ...      ...     ...   ...     ...        ...
474   990559192    Brief  Average     4.7     M  winter     o-neck
475   713391965   Casual      Low     4.7     M  Spring     o-neck
476   532874347   Casual  Average     4.7     M  Summer     v-neck
477   655464934   Casual  Average     4.6     L  winter  boat-neck
478   919930954   Casual      Low     4.4  free  Summer     v-neck

    SleeveLength       Material  FabricType  Decoration Pattern Type  \
0      sleevless            NaN     chiffon     ruffles       animal
1          Petal     microfiber         NaN     ruffles       animal
2           full       polyster         NaN         NaN        print
3           full           silk     chiffon  embroidary        print
4      butterfly  chiffonfabric     chiffon         bow          dot
..           ...            ...         ...         ...          ...
474   halfsleeve        acrylic     chiffon         NaN      striped
475         full       polyster         NaN         NaN        solid
476         full         cotton         NaN        lace        solid
477    sleevless           silk  broadcloth    applique        print
478        short         cotton    Corduroy        lace        solid

     Recommendation
0                 1
1                 0
2                 0
3                 1
4                 0
..              ...
474               0
475               1
476               1
477               1
478               0

[479 rows x 13 columns]

Print the null count of inp0 to get the idea about the missing values in data set.

In [20]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.

inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [21]:
#question: Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.

inp0['Price'].isnull().sum()
inp0['Season'].isnull().sum()
inp0['NeckLine'].isnull().sum()
inp0['SleeveLength'].isnull().sum()
inp0[inp0['Season'].isin(['Winter', 'Summer'])]['Season'].isnull().sum()

0

In [22]:
#question: Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.

inp0['Material'].isnull().sum()
inp0['FabricType'].isnull().sum()
inp0['Decoration'].isnull().sum()
inp0['Pattern Type'].isnull().sum()

102

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [ ]:
#correcting the spellings.

In [ ]:
#correcting the Spellings.

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

In [30]:


# Assuming inp0 is the DataFrame containing the "Style" column
# and inp1 is the DataFrame containing the sales information and season columns

# Step 1: Merge the two datasets on 'Dress_ID'
merged_data = pd.merge(inp0, inp1, on='Dress_ID', how='left')

# Step 2: Categorize seasons in inp1
def categorize_season(date):
    if isinstance(date, str):
        date_format = "%d-%m-%Y"
        try:
            date = datetime.strptime(date, date_format)
        except ValueError:
            return 'Unknown'
    elif isinstance(date, datetime):
        pass  # Already in datetime format
    else:
        return None  # Handle other data types

    if (date.month >= 6 and date.month <= 8):  # Summer
        return "Summer"
    elif (date.month >= 9 and date.month <= 11):  # Autumn
        return "Autumn"
    elif (date.month == 12 or (date.month >= 1 and date.month <= 2)):  # Winter
        return "Winter"
    else:  # Spring
        return "Spring"

# Apply the function to create new columns for each season
for col in inp1.columns[1:]:  # Skip the first column 'Dress_ID'
    inp1[f'{col}_Season'] = inp1[col].apply(lambda x: categorize_season(x))

# Step 3: Identify styles with total sales less than 50000
styles_to_group = merged_data.groupby('Style')['Dress_ID'].count()
styles_to_group = styles_to_group[styles_to_group < 50000].index

# Step 4: Group styles with less than 50000 sales into 'Others'
merged_data['Style'] = merged_data['Style'].apply(lambda x: 'Others' if x in styles_to_group else x)

# Verify the changes
print(merged_data['Style'].value_counts())

Style
Others    479
Name: count, dtype: int64

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [59]:
import warnings
warnings.filterwarnings("ignore")

#question: Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.


# Identify styles from the list
styles_to_group = ['Flare, fashion', 'Novelty, bohemian', 'OL, fashion, work', 'Novelty, fashion, Flare']

# Create a new column 'Grouped' to mark styles that are grouped into 'Others'
merged_data['Grouped'] = np.where(merged_data['Style'].isin(styles_to_group), 'Grouped into Others', 'Not Grouped')

# Display the count of styles in each category
grouped_counts = merged_data['Grouped'].value_counts()
print(grouped_counts)

Grouped
Not Grouped    479
Name: count, dtype: int64

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [92]:
# queston: Calculate the percentage of "cute" and "Others" categories in "Style" column

In [90]:
#question: Calculate the percentage of each categories in the "Style" variable.

# Assuming 'inp0' is the correct dataset
# Calculate the percentage of each category in the "Style" variable
style_percentages = inp0['Style'].value_counts(normalize=True) * 100

# Display the percentages
print(style_percentages)

Style
Casual      45.720251
Sexy        13.778706
party       10.647182
cute         9.185804
vintage      5.219207
bohemian     4.801670
Brief        3.549061
work         3.549061
sexy         1.461378
Novelty      1.252610
Flare        0.417537
OL           0.208768
fashion      0.208768
Name: proportion, dtype: float64

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [109]:
#question: Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

# Assuming 'inp0' is your DataFrame and 'NeckLine' is a column in it

# Identify numeric columns
numeric_columns = inp0.select_dtypes(include=np.number).columns

# Filter out non-numeric values and calculate the total sales for each neckline across all seasons
inp0['Total_Sales'] = inp0[numeric_columns].sum(axis=1)

# Identify necklines with total sales less than 50000
necklines_to_group = inp0.groupby('NeckLine')['Total_Sales'].sum() < 50000

# Group specified necklines into 'Others'
inp0['NeckLine'] = np.where(inp0['NeckLine'].isin(necklines_to_group[necklines_to_group].index), 'Others', inp0['NeckLine'])

AttributeError: 'DataFrame' object has no attribute 'TotalSales'

In [103]:
#question: Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

# Assuming 'inp0' is your DataFrame and 'Sleeve length' is a column in it

# Identify numeric columns
numeric_columns = inp0.select_dtypes(include=np.number).columns

# Filter out non-numeric values and calculate the total sales for each sleeve length across all seasons
inp0['Total_Sales'] = inp0[numeric_columns].sum(axis=1)

# Identify sleeve lengths with total sales less than 50000
sleeve_lengths_to_group = inp0.groupby('SleeveLength')['Total_Sales'].sum() < 50000

# Group specified sleeve lengths into 'Others'
inp0['SleeveLength'] = np.where(inp0['SleeveLength'].isin(sleeve_lengths_to_group[sleeve_lengths_to_group].index), 'Others', inp0['SleeveLength'])

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [105]:
#question: Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

# Calculate total sales for each material across all seasons
inp0['Total_Sales'] = inp0[numeric_columns].sum(axis=1)

# Identify materials with total sales less than 25000
materials_to_group = inp0.groupby('Material')['Total_Sales'].sum() < 25000

# Group specified materials into 'Others'
inp0['Material'] = np.where(inp0['Material'].isin(materials_to_group[materials_to_group].index), 'Others', inp0['Material'])

In [106]:
#question: Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

# Calculate total sales for each fabric type across all seasons
inp0['Total_Sales'] = inp0[numeric_columns].sum(axis=1)

# Identify fabric types with total sales less than 25000
fabric_types_to_group = inp0.groupby('FabricType')['Total_Sales'].sum() < 25000

# Group specified fabric types into 'Others'
inp0['FabricType'] = np.where(inp0['FabricType'].isin(fabric_types_to_group[fabric_types_to_group].index), 'Others', inp0['FabricType'])

In [107]:
#question: Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

# Calculate total sales for each fabric type across all seasons
inp0['Total_Sales'] = inp0[numeric_columns].sum(axis=1)

# Identify fabric types with total sales less than 25000
fabric_types_to_group = inp0.groupby('Pattern Type')['Total_Sales'].sum() < 25000

# Group specified fabric types into 'Others'
inp0['Pattern Type'] = np.where(inp0['Pattern Type'].isin(fabric_types_to_group[fabric_types_to_group].index), 'Others', inp0['Pattern Type'])

In [108]:
#question: Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

# Calculate total sales for each fabric type across all seasons
inp0['Total_Sales'] = inp0[numeric_columns].sum(axis=1)

# Identify fabric types with total sales less than 25000
fabric_types_to_group = inp0.groupby('Decoration')['Total_Sales'].sum() < 25000

# Group specified fabric types into 'Others'
inp0['Decoration'] = np.where(inp0['Decoration'].isin(fabric_types_to_group[fabric_types_to_group].index), 'Others', inp0['Decoration'])

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [133]:
inp0.head(20)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0
5,1068332458,bohemian,Low,0.0,M,Summer,v-neck,sleevless,NaN,NaN,NaN,print,0
6,1220707172,Casual,Average,0.0,XL,Summer,o-neck,full,cotton,NaN,NaN,solid,0
7,1113094204,Flare,Average,0.0,free,Spring,v-neck,short,cotton,broadcloth,beading,solid,1
8,985292672,bohemian,Low,0.0,free,Summer,v-neck,sleevless,nylon,chiffon,NaN,NaN,1
9,1117293701,party,Average,5.0,free,Summer,o-neck,full,polyster,broadcloth,lace,solid,0
10,898481530,Flare,Average,0.0,free,Spring,v-neck,short,nylon,NaN,NaN,animal,0
11,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,chiffon,lace,print,1
12,749031896,vintage,Average,4.8,M,Summer,o-neck,short,cotton,jersey,NaN,animal,1
13,1055411544,Casual,Low,5.0,M,Summer,boat-neck,short,cotton,NaN,sashes,solid,0
14,1162628131,Casual,Low,0.0,free,Winter,boat-neck,full,other,other,lace,NaN,0
15,624314841,cute,Average,4.7,L,spring,o-neck,short,cotton,NaN,sashes,solid,1
16,830467746,bohemian,Medium,5.0,free,Automn,o-neck,full,NaN,NaN,hollowout,patchwork,1
17,840857118,Brief,Average,0.0,M,Winter,peterpan-collor,threequarter,cotton,NaN,NaN,patchwork,0
18,1113221101,Sexy,Average,5.0,M,Automn,o-neck,sleevless,milksilk,NaN,NaN,NaN,1
19,861754372,Sexy,Average,4.5,L,Automn,o-neck,full,cotton,NaN,beading,solid,0

In [135]:
# Describe the numerical variale: "Autumn".

inp0[inp0['Season'] == 'Autumn'].describe()

           Dress_ID    Rating  Recommendation
count  7.000000e+00  7.000000        7.000000
mean   8.045971e+08  4.042857        0.285714
std    2.350447e+08  1.789653        0.487950
min    5.494011e+08  0.000000        0.000000
25%    6.523870e+08  4.550000        0.000000
50%    7.517769e+08  4.700000        0.000000
75%    8.882011e+08  4.750000        0.500000
max    1.249825e+09  5.000000        1.000000

In [152]:
# plot the boxplot of "Autumn" column.

# Display the unique values in the 'Season' column
print(inp0['Season'].unique())

# Plot the boxplot using the correct column name and case
plt.figure(figsize=(8, 6))
sns.boxplot(x=inp0['Season'], y=inp0['Aotumn'])
plt.title('Boxplot of Autumn Column')
plt.show()

['Summer' 'Automn' 'Spring' 'Winter' 'spring' 'winter' nan 'Autumn']

KeyError: 'Aotumn'

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [136]:
#question: Find the maximum and 50th percentile of Winter season.



# Filter data for the Winter season
winter_data = inp1[inp1['Season'] == 'Winter']

# Calculate the maximum and 50th percentile for Winter season
winter_max = winter_data['Winter'].max()
winter_50th_percentile = np.percentile(winter_data['Winter'].dropna(), 50)

print("Maximum value for Winter season:", winter_max)
print("50th Percentile (median) for Winter season:", winter_50th_percentile)

KeyError: 'Season'

In [ ]:
# Find the maximum and 50th percentile of Summer season.

In [ ]:
# Find the maximum and 50th percentile of Spring season.

In [ ]:
# Find the maximum and 50th percentile of Autumn season.