In [ ]:
import mysql.connector
connection=mysql.connector.connect(
host='localhost',
user='root',
password='sairam',
database='saimanoj',
)
cursor=connection.cursor()
query="select*from student_grade"
cursor.execute(query)
results=cursor.fetchall()
print('='*80)
print('1.select')
print('2.Insert')
print('3.Update')
print('4.Exit')
print('='*80)
choice=int(input('enter your choice : '))
#try:
if choice==1:
    print('select your table')
elif choice==2:
    print('insert values to ur table')
elif choice==3:
    print('update your data')
else:
    print('exit from table')

================================================================================
1.select
2.Insert
3.Update
4.Exit
================================================================================

In [2]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

# Replace these values with your actual MySQL database credentials
host = 'localhost'
user = 'root'
password = 'sairam'
database = 'saimanoj'

# Create a connection to the MySQL database
try:
    connection = mysql.connector.connect(host=host, user=user, password=password, database=database)
    cursor = connection.cursor()
    print("Connected to MySQL database")

    # Define the table name in the MySQL database
    table_name = 'student_grade'

    # Create the table if it doesn't exist (optional)
    create_table_query = f'''
    CREATE TABLE IF NOT EXISTS {table_name} (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        score int(10)
    );
    '''
    cursor.execute(create_table_query)

    while True:
        print("\nOptions:")
        print("1. Select table")
        print("2. Insert values")
        print("3. Update table")
        print("4. Exit")

        choice = input("Enter your choice (1-4): ")

        if choice == '1':
            # Select table
            select_query = f"SELECT * FROM {table_name}"
            cursor.execute(select_query)
            rows = cursor.fetchall()

            if not rows:
                print("Table is empty.")
            else:
                print("\nTable Content:")
                for row in rows:
                    print(row)

        elif choice == '2':
            # Insert values
            ide = int(input("Enter your id: "))
            name = input("Enter name: ")
            score = int(input("Enter your score: "))
            
            insert_query = f"INSERT INTO {table_name} (id, name, score) VALUES (%s, %s, %s)"
            values = (ide, name, score)
            
            cursor.execute(insert_query, values)
            connection.commit()
            print(f"Inserted a row into the table '{table_name}'")

        elif choice == '3':
            # Update table
            ide = int(input("Enter the id of the record to update: "))
            new_name=int(input('if you want to update your name then modify: '))
            new_score = int(input("Enter the new score: "))
            
            update_query = f"UPDATE {table_name} SET score = %s WHERE id = %s"
            update_values = (new_score, ide)
            
            cursor.execute(update_query, update_values)
                connection.commit()
            print(f"Updated the score for record with id {ide}")

        elif choice == '4':
            print("Exiting program.")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 4.")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Access denied. Please check your credentials.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist. Please create the database first.")
    else:
        print(f"Error: {err}")
finally:
    # Close the cursor and connection
    if 'cursor' in locals() and cursor:
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("MySQL connection closed")

Connected to MySQL database

Options:
1. Select table
2. Insert values
3. Update table
4. Exit
Enter your choice (1-4): 4
Exiting program.
MySQL connection closed

# Main Program

In [1]:
import pandas as pd
import mysql.connector
connection=mysql.connector.connect(
host='localhost',
user='root',
password='sairam',
database='saimanoj',
)
try:
    if connection.is_connected:
        
        print('connection opened')
        cursor = connection.cursor()
        def select():
            select_query = f"SELECT * FROM student_grade"
            cursor.execute(select_query)
            rows = cursor.fetchall()

            if not rows:
                print("Table is empty.")
            else:
                print("\nTable Content:")
                for row in rows:
                    print(row)
        def insert():
            ide = int(input("Enter your id: "))
            name = input("Enter name: ")
            score = int(input("Enter your score: "))
            
            insert_query = f"INSERT INTO student_grade (id, name, score) VALUES (%s, %s, %s)"
            values = (ide, name, score)
            
            cursor.execute(insert_query, values)
            connection.commit()
            print(f"Inserted a row into the table student_grade")
        def update():
            ide = int(input("Enter the id of the record to update: "))
    
    # Check if the record with the given ID exists
            select_query = f"SELECT id FROM student_grade WHERE id = %s"
            cursor.execute(select_query, (ide,))
            existing_record = cursor.fetchone()

            if existing_record:
                new_name = input('If you want to update your name then modify: ')
                new_score = int(input("Enter the new score: "))
        
                update_query = f"UPDATE student_grade SET score = %s WHERE id = %s"
                update_values = (new_score, ide)
        
                cursor.execute(update_query, update_values)
                connection.commit()
                print(f"Updated the score for record with id {ide}")
            else:
                print('No such id exists')


                
        
        while True:
            
            print("\nOptions:")
            print("1. Select table")
            print("2. Insert values")
            print("3. Update table")
            print("4. Exit")
            choice = input("Enter your choice (1-4): ")  
        
            if choice == '1':
                select()
            elif choice == '2':
                insert()
            elif choice == '3':
                update()
            else:
                break
except mysql.connector.Error as err:
    print(err)
except Exception as e:
    print(e)
finally:
    # Close the cursor and connection
    if 'cursor' in locals() and cursor:
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("MySQL connection closed")

connection opened

Options:
1. Select table
2. Insert values
3. Update table
4. Exit
Enter your choice (1-4): 1

Table Content:
(1, 'simisola', 60)
(2, 'ivan', 80)
(3, 'metodija', 52)
(4, 'callum', 98)
(5, 'leia', 84)
(6, 'aparecdic', 82)
(7, 'ursula', 69)
(8, 'ramazan', 78)
(9, 'corona', 87)
(10, 'alise', 57)
(11, 'galadriel', 89)
(12, 'merel', 99)
(13, 'cherice', 55)
(14, 'nithya', 81)
(15, 'elsad', 71)
(16, 'liisi', 90)
(17, 'johanna', 90)
(18, 'anfisa', 90)
(19, 'ryosuke', 97)
(20, 'sakchai', 61)
(21, 'elbert', 63)
(22, 'katelyn', 51)
(24, 'John Doe', 99)
(25, 'sai', 98)
(26, 'raj', 45)
(27, 'manu', 87)
(30, 'saaaaa', 100)

Options:
1. Select table
2. Insert values
3. Update table
4. Exit
Enter your choice (1-4): 4
MySQL connection closed

In [ ]:
def update():
    ide = int(input("Enter the id of the record to update: "))
    
    # Check if the record with the given ID exists
    select_query = f"SELECT id FROM student_grade WHERE id = %s"
    cursor.execute(select_query, (ide,))
    existing_record = cursor.fetchone()

    if existing_record:
        new_name = input('If you want to update your name then modify: ')
        new_score = int(input("Enter the new score: "))
        
        update_query = f"UPDATE student_grade SET score = %s"
        update_values = [new_score]

        if new_name:
            update_query += ", name = %s"
            update_values.append(new_name)

        update_query += " WHERE id = %s"
        update_values.append(ide)

        cursor.execute(update_query, update_values)
        connection.commit()
        print(f"Updated the record with id {ide}")
    else:
        print('No such id exists')

In [ ]:
"""
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Access denied. Please check your credentials.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist. Please create the database first.")
    else:
        print(f"Error: {err}")
"""