In [1]:
a=int(input("enter the age of a person: "))
if a>=18:
    print("Eligible for vote")                               #eligiblity fo vote
else:
    print("Not eligible for vote")

enter the age of a person: 25
Eligible for vote

In [4]:
a=int(input("enter any number: "))
if a%2==0:
    print("even number")                          #check whether even or odd
else:
    print("odd number")

enter any number: 24
even number

In [2]:
a=int(input("enter any number: "))
if a%5==0:
    print("factor of 5")                               #check whether a number is a factor 
else:
    print("not a factor of 5")

enter any number: 100
factor of 5

In [3]:
a=int(input("enter the number: "))
if a%3==0:
    print("hye")                  #multiples of 3
else:
    print("BYe")

enter the number: 27
hye

In [27]:
a=int(input("enter your marks: "))
if a>60:
    if a>90:
        print("A GRADE")
    elif a>80 and a<=90:
        print("B GRADE")
    elif a>60 and a<=80:            #gradings system
         print("C GRADE")
else:
    print("D GRADE")

enter your marks: 88
B GRADE

In [1]:
list=[1,62,300,4,55]
"""count=0
for i in list:
    count=count+1                           #counting number of elements in list
print(count)
    """

len(list)

5

In [1]:
a=1
for a in range(1,10):
    a=a+1
    if a%3==0:                              #multiples of 3 using for loop
        print(a)
    else:
        continue

3
6
9

In [3]:
list=["sai","manoj","sai manoj"]
manoj=[]
for i in manoj:                                              #copying list from another list
    list.append(i)
print(list)

['sai', 'manoj', 'sai manoj']

In [2]:
list=[1,43,4]
#len=len(list)
for i in range(0,len(list)):
    print(list[i])

1
43
4

In [19]:
for i in range(0,9):
    for j in range(1,1+i):
        print("*",end=" ")                                #printing triangle stars
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [5]:
s=int(input("enter any number: "))
for i in range(s,0,-1):
    print(i,end=" ")                                      #reverse of sequene number

enter any number: 22
22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [12]:
s=("sai","manoj","vyshnavi")
m=0
while m<len(s):                                      #printing values from tuple using while loop
    print(s[m])
    m=m+1

sai
manoj
vyshnavi

In [2]:
list=[1,2,3,4,5]
a=0
s=0
while a<len(list):
   
    s+=list[a]
    a+=1
print(a)

5

In [25]:
syce="mytraz"
pyce=""
for i in syce:
    if 'y' in i and 'a' in i:
        p
        continue
print(i)

z