In [ ]:
from datetime import date

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
from tabulate import tabulate 
import pandas as pd
import mysql.connector
connection=mysql.connector.connect(
host='localhost',
user='root',
password='sairam',
database='mainproject_db',
)
if connection.is_connected():
    print('connection established')
    cursor=connection.cursor()
    def new_opd():
        try:
            idno = int(input("Enter your opdno: "))
            pat_name = input("Enter patient name: ")
            doc_name = input("Enter doctor name: ")
            doc_fee = int(input("enter doctor fee: "))
            insert_query = f"INSERT INTO opd (opdno, pname, dname, fee) VALUES (%s, %s, %s, %s)"
            values = (idno, pat_name, doc_name, doc_fee)    
            cursor.execute(insert_query, values)
            connection.commit()
            print(f"Inserted a row into the table opd")
        except mysql.connector.Error as err1:
            print(f"Error: {err1}")

        except Exception as e1:
            print(f"Exception: {e1}")
    def edit_opd():
        try:
            idno = int(input("Enter the opdno of the record to update: "))
            select_query = "SELECT opdno FROM opd WHERE opdno = %s"
            cursor.execute(select_query, (idno,))
            existing_record = cursor.fetchone()

            if existing_record:
                new_pat_name = input("Enter the new patient name: ")
                new_doc_name = input("Enter the new doctor name: ")
                new_doc_fee = int(input("Enter the new doctor fee: "))
        
                update_query = "UPDATE opd SET pname = %s, dname = %s, fee = %s WHERE opdno = %s"
                update_values = (new_pat_name, new_doc_name, new_doc_fee, idno)
        
                cursor.execute(update_query, update_values)
                connection.commit()
                print(f"Updated the record for opdno {idno}")
            else:
                print('No such opdno exists')
        except mysql.connector.Error as err:
            print(f"Error: {err}")
        except Exception as e:
            print(f"Exception: {e}")

    def delete_opd():
        try:
            opdno_to_delete = int(input("Enter the opdno of the record to delete: "))
            select_query = "SELECT opdno FROM opd WHERE opdno = %s"
            cursor.execute(select_query, (opdno_to_delete,))
            existing_record = cursor.fetchone()

            if existing_record:
                delete_query = "DELETE FROM opd WHERE opdno = %s"
                cursor.execute(delete_query, (opdno_to_delete,))
                connection.commit()
                print(f"Deleted the record for opdno {opdno_to_delete}")
            else:
                print('No such opdno exists')
        except mysql.connector.Error as err2:
            print(f"Error: {err2}")
        except Exception as e2:
            print(f"Exception: {e2}")

    def search_opd():
        try:
            opdno_to_search = int(input("Enter the opdno of the record to search: "))
    
        # Check if the record with the given opdno exists
            select_query = "SELECT * FROM opd WHERE opdno = %s"
            cursor.execute(select_query, (opdno_to_search,))
            existing_record = cursor.fetchone()

            if existing_record:
                headers = ["OpdNo", "Patient Name", "Doctor Name", "Doctor Fee"]
                data = [existing_record]

                table = tabulate(data, headers=["opdno", "pname", "dname", "fee"], tablefmt="grid")
                print(table)
            else:
                print('No such opdno exists')
        except mysql.connector.Error as err:
            print(f"Error: {err}")
        except Exception as e:
            print(f"Exception: {e}")

connection established