In [ ]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [ ]:
#Read the data in pandas
inp0= pd.read_csv(r"C:\Users\sairam\Desktop\New folder\Data_Analysis_Project\Data_Analysis_Project\Attribute DataSet.csv")
inp1= pd.read_csv(r"C:\Users\sairam\Desktop\New folder\Data_Analysis_Project\Data_Analysis_Project\Dress Sales.csv")
inp0.head()

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [ ]:
# Print the information about the attributes of inp0 and inp1.

inp0.info()

In [ ]:
inp1.info()

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [ ]:
inp0.Size.replace({'M':'Medium', 'free':'Free', 'L':'Large', 'S':'Small','s':'Small','small':'Small', 'XL':'Extra Large'},inplace=True)

In [ ]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.


# Print the value counts of each category in "Size" column.
inp0.Size.value_counts()/inp0.Size.shape[0] *100

In [ ]:
# Print the value counts of each category in "Size" column.

inp0.Size.value_counts()

### Impute/Remove Missing values

In [ ]:
# Print the null count of each variables of inp0 and inp1.

inp0.isnull().sum()

In [ ]:
inp1.isnull().sum()

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [ ]:
# Print the data types information of inp1 i.e. "Dress Sales" data.

inp1.dtypes

In [ ]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.

inp1['09-12-2013'] = pd.to_numeric(inp1['09-12-2013'])

In [ ]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.

inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN

In [ ]:
# Convert the object type columns in "Dress Sales" into float type of data type.


inp1['09-12-2013'] = pd.to_numeric(inp1['09-12-2013'], downcast='float')
inp1['14-09-2013'] = pd.to_numeric(inp1['14-09-2013'], downcast='float')
inp1['16-09-2013'] = pd.to_numeric(inp1['16-09-2013'], downcast='float')
inp1['18-09-2013'] = pd.to_numeric(inp1['18-09-2013'], downcast='float')
inp1['20-09-2013'] = pd.to_numeric(inp1['20-09-2013'], downcast='float')
inp1['22-09-2013'] = pd.to_numeric(inp1['22-09-2013'], downcast='float')

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [ ]:
# Print the null percetange of each column of inp1.


inp1.isnull().sum()/len(inp1.index)*100

In [ ]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.


# Print the null percetange of each column of inp1.
(inp1.isnull().sum()[inp1.isnull().sum()/inp1.shape[0]*100.0 >40])[:]


#inp1 = inp1.drop(['26-09-2013','30-09-2013','10-02-2013','10-04-2013','10-08-2013','10-10-2013' ],axis=1)
#inp1.info()

#inp1 = inp1.drop(['26-09-2013','30-09-2013','10-02-2013','10-04-2013','10-08-2013','10-10-2013' ],axis=1)
inp1.info()

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [ ]:
# Create the four seasons columns in inp1, according to the above criteria.


inp1['Summer'] = inp1['09-06-2013'] + inp1['10-06-2013'] + inp1['29-08-2013'] + inp1['31-08-2013'] + inp1['09-08-2013']
inp1['Autumn'] = inp1['09-10-2013'] + inp1['14-09-2013'] + inp1['16-09-2013'] + inp1['18-09-2013'] + inp1['20-09-2013'] + inp1['22-09-2013'] + inp1['24-09-2013'] + inp1['28-09-2013']
inp1['Winter'] = inp1['09-12-2013'] + inp1['10-12-2013'] + inp1['09-02-2013']
inp1['Spring'] = inp1['09-04-2013']

In [ ]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".


inp1[['Summer','Autumn','Winter','Spring']].sum()

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [ ]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

In [ ]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.

inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)

In [ ]:
inp1.columns

Print the null count of inp0 to get the idea about the missing values in data set.

In [ ]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.

inp0.isnull().sum()

In [ ]:
#inp0.drop(inp0.loc[:,'29-08-2013_x':'Spring_y'].columns, axis= 1, inplace= True)
inp0.head()

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [ ]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.


# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter, and Autumn
"""columns_to_fillna = ['Price', 'Season', 'NeckLine', 'SleeveLength', 'Winter', 'Autumn']

# Fill missing values with the mode of each column if the column exists in the DataFrame
for column in columns_to_fillna:
    if column in inp0.columns:
        inp0[column].fillna(inp0[column].mode().iloc[0], inplace=True)

# Display the updated DataFrame
print(inp0)
"""

inp0['Price'].fillna(inp0['Price'].mode(), inplace=True)
inp0['Season'].fillna(inp0['Season'].mode(), inplace=True)
inp0['NeckLine'].fillna(inp0['NeckLine'].mode(), inplace=True)
inp0['SleeveLength'].fillna(inp0['SleeveLength'].mode(), inplace=True)
inp0.loc[inp0['Season'] == 'Winter', 'Season'].fillna(inp0['Season'].mode().iloc[0], inplace=True)
inp0.loc[inp0['Season'] == 'Autumn', 'Season'].fillna(inp0['Season'].mode().iloc[0], inplace=True)

In [ ]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.


inp0.dropna(axis=0, subset=['Material','FabricType','Decoration','Pattern Type'], inplace=True)
inp0.isnull().sum()

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [ ]:
#correcting the spellings.


inp0['Season'].unique()

In [ ]:
#correcting the Spellings.


inp0['Season'].replace(['Automn','winter'], ['Autumn','Winter'], inplace=True)
inp0['Season'].unique()

In [ ]:
inp0['SleeveLength'].unique()

In [ ]:
inp0['SleeveLength'].replace(['thressqatar'], ['threequarter'], inplace=True)
inp0['SleeveLength'].unique()

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [ ]:
inp0.head()

In [ ]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.


inp0['total'] = inp0['Summer'] + inp0['Autumn'] + inp0['Winter'] + inp0['Spring']
style_group = inp0['total'].groupby(inp0['Style']).sum().reset_index()
res = style_group.loc[style_group['total'] < 50000]

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.

inp0['Style'].value_counts(normalize=True)*100

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

neck_group = inp0['total'].groupby(inp0['NeckLine']).sum().reset_index()
res = neck_group.loc[neck_group['total']<50000]
res

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.
sleeve_group = inp0['total'].groupby(inp0['SleeveLength']).sum().reset_index()
res = sleeve_group.loc[sleeve_group['total']<50000]
res

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.
mat_group = inp0['total'].groupby(inp0['Material']).sum().reset_index()
res = mat_group.loc[mat_group['total']<25000]
res

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 50th percentile of Winter season.

In [ ]:
# Find the maximum and 50th percentile of Summer season.

In [ ]:
# Find the maximum and 50th percentile of Spring season.

In [ ]:
# Find the maximum and 50th percentile of Autumn season.